
@{
    ViewBag.Title = "Home Index";
}
<title>Dierenasiel</title>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="~/scripts/jQuery_Test.js"></script>
<a href="index.html"> <img src="/Content/logo.png" /></a>
<h1> Koop je dier hier. </h1>
<p> Wij verkopen de beste dieren. </p>
<h2> Welke dieren hebben wij? </h2>
<ul>
    <li> Honden </li>
    <li> Katten </li>
</ul>
<p>Meer informatie over de dieren? Klik <a href="/Dier/Index">hier</a>.</p>

